<p>add-server works!</p>

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">server name</label>
    <input type="text" #name class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <select class="form-select" aria-label="Default select example" #status>
        <option selected>select server status</option>
        <option value="online">online</option>
        <option value="offline">offline</option>
      </select>
  </div>
    <button  class="btn btn-primary" (click)="AddServer(name.value, status.value)">Submit</button>
