<mat-form-field appearance="outline" [formGroup]="parentForm">
  <mat-label>{{title}}</mat-label>
  <input matInput [matDatepicker]="picker2" [formControlName]="controlName" [placeholder]="placeholder" [disabled]="disabled" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2 color="primary"></mat-datepicker>
  
</mat-form-field>
<div *ngIf="control.invalid && control.touched">
    <mat-error *ngIf="parentForm.get(controlName).hasError('required')">
        {{ title }} is <strong>required</strong>
      </mat-error>
      
  </div>
