<p>employee-list works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <h1 class="col">Employee List</h1>
                <div class="col">

                    <button class="btn btn-outline-warning" routerLink="/employee/Add">Add Employee</button>
                </div>
            </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Email</th>
                <th>Employee Mobile</th>
                <th>Employee Salary</th>
                <th>Employee Department</th>
                <th>Employee Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.empId}}</td>
                <td>{{employee.empName}}</td>
                <td>{{employee.empEmail}}</td>
                <td>{{employee.empMobile}}</td>
                <td>{{employee.empSalary}}</td>
                <td>{{employee.department}}</td>
                <td>
                <button class="btn btn-primary" routerLink="/employee/{{employee.empId}}">Edit</button>
                <button class="btn btn-danger" (click)="DeleteEmployee(employee.empId)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>